[Unit]
Description=SystemBar for DWM from suckless
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/statusbar.sh
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/klein/.Xauthority

[Install]
WantedBy=graphical.target
